div {
    /* margin: 10px;
            border:1px solid #5BD1B7;*/
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    font-size: 120%;
    margin: 0;
    padding: 0;
}


#kérdés_szövege {
    padding: 30px;
    background-color: #5BD1B7;
    font-style: italic;
    font-weight: bold;
}

hr {
    background-color: slategray;
    width: auto;
    height: 2px;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: antiquewhite;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}

#kép {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid slategray;
            border-radius: 5px;*/
}

.gomb {
    padding: 20px;
    width: 80px;
    text-align: center;
    background-color: #5BD1B7;
    border: 1px solid slategray;
    border-radius: 5px;
}

.kérdés {
    margin: 10px;
    padding: 10px;
    border: 1px solid slategray;
    border-radius: 5px;
    font-weight: bold;
}

.kattintható {
    cursor: pointer;
}

    .kattintható:hover {
        background-color: gold;
        color: black;
    }

.jó {
    background-color: lawngreen;
}

.rossz {
    background-color: red;
}
